[
  %{ for user in sftp_users ~}
  {
    "name": "SFTP_USER_PUBLIC_KEY_${upper(replace(user, "-", "_"))}",
    "valueFrom": "${ssm_param_arn_user_pub_key}/${user}"
  },
  %{ endfor ~}
  {
    "name": "SFTP_HOST_PUBLIC_KEY",
    "valueFrom": "${ssm_param_arn_host_pub_key}"
  },
  {
    "name": "SFTP_HOST_PRIVATE_KEY",
    "valueFrom": "${ssm_param_arn_host_priv_key}"
  },
  {
    "name": "SFTP_USERS_CONF",
    "valueFrom": "${ssm_param_arn_users_conf}"
  }
]