[
  "-c",
  "%{ for user in sftp_users }{ echo \"$SFTP_USER_PUBLIC_KEY_${upper(replace(user, "-", "_"))}\" | base64 -d > /${volume_name_user}-${user}/id_ed25519_${user}.pub; } && %{ endfor }{ echo \"$SFTP_HOST_PUBLIC_KEY\" | base64 -d > /${volume_name_host}/ssh_host_ed25519_key.pub; } && { echo \"$SFTP_HOST_PRIVATE_KEY\" | base64 -d > /${volume_name_host}/ssh_host_ed25519_key; } && { echo \"$SFTP_USERS_CONF\" | base64 -d > /${volume_name_config}/users.conf; } && { echo '#!/usr/bin/env sh' > /${volume_name_scripts}/setup.sh; } && { echo 'mv /root/${volume_name_host}/* /etc/ssh/' >> /${volume_name_scripts}/setup.sh; } && { chmod +x /${volume_name_scripts}/setup.sh; }"
]