#!/usr/bin/env bash
# shellcheck disable=SC2154

yum update -y

echo ECS_CLUSTER="${cluster_name}" >> /etc/ecs/ecs.config

${shell_functions}

${fsx_config_command}

${fsx_get_creds_command}

${fsx_mount_command}
