#!/usr/bin/env bash
# shellcheck disable=SC2154
exec > >(tee /var/log/user-data.log | logger -t user-data -s 2>/dev/console) 2>&1

echo ECS_CLUSTER="${cluster_name}" >> /etc/ecs/ecs.config

yum update -y

${install_awscli}

${run_fsx_config}
